body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --mainColor: rgb(161, 161, 161);
  --secondaryColor: rgb(255, 255, 255);
  --tertiaryColor: rgb(163, 193, 222);
  --accentColor: rgb(129, 126, 141);
  --transition: all 1000ms;
}

body {
  background-color: var(--mainColor);
}



.NavBar a{
  text-decoration: none;
  background-color: var(--secondaryColor);
  padding: 10px;
  margin: 10px;
  color: black;
  transition: var(--transition)
}

.NavBar a.active {
  /* background-color: red; */
  /* text-decoration: underline */
  border-bottom: 10px solid var(--tertiaryColor)
}

.studyImgs {
  max-width: 200px;
  max-height: 200px;
  padding: 2px;
}

.userStudies {
  width: 70%;
  display: block;
  float: left;
  background-color: var(--secondaryColor);
  border-radius: 7px;
  padding: 2%;
  margin: 2%;
  margin-left: 0;
  margin-right: 0;
}

.singleStudy {
  width: 100%;
  display: block;
  float: left;
  background-color: var(--secondaryColor);
  border-radius: 7px;
  padding: 2%;
  margin: 2%;
  margin-left: 0;
  margin-right: 0;
}

.singleStudyCard {
  background-color: var(--mainColor);
  padding: 5%;
  padding-top: 3%;
  margin: 5%;
  border: 2%;
  border-radius: 7px;
}

.singleStudyCard img {
  max-width: 100%
}

.studyCard {
  background-color: var(--mainColor);
  padding: 5%;
  padding-top: 3%;
  margin: 5%;
  border: 2%;
  border-radius: 7px;
  transition: var(--transition)
}

/* .studyCard img {
  padding: 2px;
} */

.mapStudyCard {
  /* background-color: var(--mainColor);
  padding: 5%;
  padding-top: 3%;
  margin: 5%;
  border: 2%;
  border-radius: 7px; */
  max-height: 200px;
  max-width: 200px;
}

.mapStudyCard img {
  max-width: 200px;
  padding: 2px
}

.studyEditFormImage {
  background-color: none;
  max-width: 200px;
  max-height: 200px;
  padding: 2px;
  transition: var(--transition)
}

.studyEditFormImage:hover {
  opacity: .5;
  /* border-inline-color: red; */
  background-color: red;
  max-width: 200px;
  max-height: 200px;
  padding: 2px;
  transition: var(--transition)
}

.studyEditFormImageContainer {
  filter: drop-shadow(0 0 0 red)
}

.xOutImg {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color:rgb(255, 255, 255);
  font-style: ;
}

.studyEditTags {
  background-color: var(--tertiaryColor);
  border: none;
}

.studyEditTags:hover {
  background-color: var(--secondaryColor)
}

.map-container {
  width: 100%;
  height: 85vh;
}

/* .studyInfoWindow {
  max-width: 100;
  background-color: red
} */

.commentWindow {
  background-color: var(--tertiaryColor);
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 7px;
  overflow: auto;
  /* transition: var(--transition) */
}

.comment {
  background-color: var(--secondaryColor);
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 7px;
}

.commentDeleteBtn{
  float: right
}

.commentWindow form {
  padding: 10px
}

.notificationsWindow {
  background-color: var(--tertiaryColor);
  padding: 2%;
  border-radius: 7px
}

.notification {
  background-color: var(--secondaryColor);
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 7px;
}

.profileAvatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.profileAvatarCircle {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%
}

.userEditForm {
  max-width: 30%;
  background-color: var(--tertiaryColor);
  padding: 2%;
  border-radius: 7px
}

.newStudyForm {
  background-color: var(--secondaryColor);
  padding: 2%;
  border-radius: 7px;
}

#editProfileBtn {
  /* border: none; */
  /* display: block; */
  /* position:absolute; */
  /* float:right */
}

.logoutButton {
  min-height: 40px;
  background-color: var(--tertiaryColor);
  /* border-color: var(--tertiaryColor); */
  border: none;
  transition: var(--transition)
}

.logoutButton:hover {
  background-color: var(--accentColor);
  color: var(--mainColor);
  transition: var(--transition)
}

